/* topbar */
#topBar {
	color:#ccc;
	background-color:#363839;
	border-bottom-color:rgba(255,255,255,0.1);
}
#topBar .dropdown-menu a,
#topBar ul.top-links>li>a {
	color:#fff;
}
#topBar .dropdown-menu a:hover {
	color:#fff !important;
	background-color:#333;
}
#topBar ul.top-links>li {
	border-right: rgba(255,255,255,0.1) 1px solid;
}
#topBar .dropdown-menu {
	background-color:#363839;
}
#topBar .dropdown-menu .divider {
	background-color:#444;
}
#topBar>.border-bottom {
	border-bottom-color:rgba(255,255,255,0.1);
}
#topBar>.border-top {
	border-top-color:rgba(255,255,255,0.1);
}

/* banner */
#topBar .banner {
	border-left:rgba(255,255,255,0.05) 1px solid;
}